extends layout

block header
    div.container
        div.headerTitle Quiz Control

    include admin_menu.pug

block content
    div.container.h-100.my-3
        div.controlsContainer
            div.controlsMain
                button.btn.btn-lg.btn-danger.controlBtn.mx-2(data-action="reset") 
                    i.mdi.mdi-backup-restore
                    br
                    span.btnText Reset
                button.btn.btn-lg.btn-secondary.controlBtn.mx-2(data-action="prev") 
                    i.mdi.mdi-skip-backward
                    br
                    span.btnText Previous
                button.btn.btn-lg.btn-warning.controlBtn.mx-2(data-action="countdown_cancel")
                    i.mdi.mdi-timer-outline
                    i.mdi.mdi-stop
                    br
                    span.btnText Stop
                button.btn.btn-lg.btn-success.controlBtn.mx-2(data-action="countdown")
                    i.mdi.mdi-timer-outline
                    i.mdi.mdi-skip-next
                    br
                    span.btnText Next
                button.btn.btn-lg.btn-secondary.controlBtn.mx-2(data-action="next")
                    i.mdi.mdi-skip-forward
                    br
                    span.btnText Skip
                div.timeInputMain
                    label(for="timerInput") Timer duration
                    div.input-group
                        div.input-group-prepend
                            div.input-group-text
                                i.mdi.mdi-timer-outline
                        input.form-control.countdownTimeInput#timerInput(type="number", min="0", max="9999", value="30")
                div.timeInputMain.px-2
                    div.form-check.form-switch
                        input.form-check-input#switchState(type="checkbox")
                        label.form-check-label(for="switchState") Quiz Live

                        
        
        div.row.my-3.controlQuestionsContainer
            div.col-5.controlQuestionsMain
                div.roundsMain

            div.col-7
                div.subTitle
                div.currentQuestion
                div.questionMain

    
    script#roundTemplate(type="text/x-handlebars-template")
        | {{#each this.questions}}
        // Rounds
        div.mb-4.roundMain(style="cursor:pointer;", data-round-uuid="{{this.uuid}}")
            div.d-flex.w-100.mb-1.justify-content-between.roundToolbar
                h4.roundName {{inc this.order 0}}. {{this.name}}
 
            // Questions
            div.list-group.roundContent(id="list-{{this.uuid}}")
                | {{#each this.questions}}
                div.list-group-item.list-group-item-action.questionOverviewMain(data-question-uuid="{{this.uuid}}")
                    div.d-flex.w-100.justify-content-between
                        div.mb-1.questionName 
                            span.font-weight-bolder {{inc this.order 0}}.
                            span.text-muted  {{getTemplateName this.template}}
                            div {{this.name}}
                | {{/each}}
        | {{/each}}

    script#alertTemplate(type="text/x-handlebars-template")
        div.alert.alert-primary {{this}}

    include question_templates.pug
   
block scripts
    script(src='/javascripts/func_public.js')
    script(src='/javascripts/control_public.js')