extends layout

block header
    div.container
        div.headerTitle Quiz Control

    include admin_menu.pug

block content
    div.container.my-3
        div.controlsContainer
            div.controlsMain
                button.btn.btn-lg.btn-secondary.controlBtn.mx-2(data-action="prev") 
                    i.mdi.mdi-skip-backward
                    br
                    span.btnText Previous
                button.btn.btn-lg.btn-warning.controlBtn.mx-2(data-action="countdown_cancel")
                    i.mdi.mdi-timer-outline
                    i.mdi.mdi-stop
                    br
                    span.btnText Stop
                button.btn.btn-lg.btn-success.controlBtn.mx-2(data-action="countdown")
                    i.mdi.mdi-timer-outline
                    i.mdi.mdi-skip-next
                    br
                    span.btnText Next
                button.btn.btn-lg.btn-secondary.controlBtn.mx-2(data-action="next")
                    i.mdi.mdi-skip-forward
                    br
                    span.btnText Skip
                div.timeInputMain
                    label(for="timerInput") Timer duration
                    div.input-group
                        div.input-group-prepend
                            div.input-group-text
                                i.mdi.mdi-timer-outline
                        input.form-control.countdownTimeInput#timerInput(type="number", min="0", max="9999", value="30")
                        
        div.subTitle
        div.row
            div.col.currentQuestion
        div.questionMain
        
    include question_templates.html
   
block scripts
    script(src='/javascripts/common_public.js')
    script(src='/javascripts/control_public.js')