extends layout

block header
    div.container
        div.headerTitle Leegte
        
block content
    div.container.my-5
        | Hier is niks, ksst wegwezen meneer de hacker.

block scripts
    script(src='/javascripts/index_public.js')