extends layout

block header
    div.container
        div.headerTitle #{quizTitle}
        
block content
    div.container.my-5
                    
        div.jumbotron.text-center
            h1.display-4 Doe mee met de pubquiz.
            p.lead We spelen 4 rondes met tussendoor gezellige muziek en optredens. Bij elke ronde zijn er prijzen te winnen, maar er kan er maar één de echte winnaar zijn. Daarom krijgt het team wat de meeste punten scoort over alle ronde’s een fantastische hoofdprijs.
            p Locatie <br> 
                b Manifestatieterrein, Houten
            p Starttijd: <br> 
                b 15:00

            a.btn.btn-primary(href="/registreren") Schrijf je hier in.

    div.text-right.text-white
        a(href="/login") Inloggen

block scripts
    script(src='/javascripts/index_public.js')