extends layout

block header
    div.container
        div.headerTitle Emptiness
        
block content
    div.container.my-5
        | This is the vast nothingness of the web...

block scripts
    script(src='/javascripts/index_public.js')