extends layout

block header
    div.container
        div.headerTitle #{quizTitle}
        
block content
    div.container.my-5
                    
        div.jumbotron.text-center
            div.px-md-5.mx-md-5.mb-3
                img.img-fluid(src="images/score_header.png")
            h1.display-4 Doe mee met de pubquiz!
            p.lead We spelen 4 rondes met tussendoor gezellige muziek. Bij elke ronde zijn er prijzen te winnen, dus later aanhaken is mogelijk! Maar er kan er maar één de echte winnaar zijn. Daarom krijgt het team wat de meeste punten scoort over alle ronde’s een fantastische hoofdprijs.
            p.lead We geven in totaal €300,- euro aan prijzen weg, dus mis het niet!
            div.h3
                p Locatie <br> 
                    b Manifestatieterrein, Houten
                p Wanneer: <br> 
                    b 27 april, 15:00

            a.btn.btn-lg.btn-primary(href="/registreren") Schrijf je hier in.

    div.text-right.text-white
        a(href="/login") Inloggen

block scripts
    script(src='/javascripts/index_public.js')