extends layout

block header
    div.container
        div.headerTitle #{quizTitle}
        
block content
    div.container.my-5
                    
        div.jumbotron.text-center
            h1.display-4 Welkom bij Pubquix.
            p.lead Meedoen kan door de QR code te scannen. <br> Heb je geen QR code of werkt deze niet, roep de quizmasters erbij.<br>

    div.text-right.text-white
        a(href="/login") Inloggen

block scripts
    script(src='/javascripts/index_public.js')