//** Main question template **//
script#questionTemplate(type="text/x-handlebars-template")
    div.card.my-3
        div.card-body
            h2.card-title {{content.name}}
            h6.card-subtitle.text-muted {{content.templateName}}
            p.card-text
                form.answers
                    fieldset.answersInput({{content.isDisabled}})
                        | {{{parameters}}}
                        button.btn.btn-success.btn-lg.my-3.submitAnswerBtn Verzenden
                        div.countdownMain.collapse
                            div.countdownText 
                                | Je hebt nog 
                                span.countdownTime
                                |  tot de volgende vraag.
                
//** Form Templates **//
script#radioTemplate(type="text/x-handlebars-template")
    div.form-group.optionInputMain(data-id="{{this.data.id}}")
        label {{this.data.name}}

        | {{#each this.data.content}}
        div.form-check.mb-1.optionInput(data-id="{{@key}}")
            | <input class="form-check-input optionCorrect" id="answer{{@index}}" type="radio" name="answer" value="{{this}}"/>
            label.form-check-label.w-100(for="answer{{@index}}") {{this}}
        | {{/each}}

script#checkboxTemplate(type="text/x-handlebars-template")
    div.form-group.optionInputMain(data-id="{{this.data.id}}")
        label {{this.data.name}}
        | {{#each this.data.content}}
        div.form-check.mb-1.optionInput(data-id="{{@key}}")
            | <input class="form-check-input optionCorrect" id="answer{{@index}}" type="checkbox" name="answer" value="{{this}}"/>
            label.form-check-label.w-100(for="answer{{@index}}")  {{this}}
        | {{/each}}

script#textTemplate(type="text/x-handlebars-template")
    div.form-group
        label {{this.data.name}}
        input.form-control.editorInput.textInput(type="text", name="answer", title="Your Answer" value="{{this.data.correct}}" data-id="{{this.data.id}}" required)

script#numberTemplate(type="text/x-handlebars-template")
    div.form-group
        label {{this.data.name}}
        input.form-control.editorInput.numberInput(type="number", pattern="[0-9]*" inputmode="numeric", name="answer", title="Your Answer" value="{{this.data.correct}}" data-id="{{this.data.id}}" required)

script#messageTemplate(type="text/x-handlebars-template")
    p {{this.data.content}}

script#alertTemplate(type="text/x-handlebars-template")
    div.alert(class="alert-{{alertType}}") {{alertMessage}}