extends layout

block header
    div.container
        div.headerTitle #{quizTitle}
        div.headerSubTitle

block content
    
    div.container.quizContainer.collapse
        div.row
            //div.col-lg-6
                include stream.pug
            div.col-lg-12
                div.subTitle
                div.row
                    div.col.currentQuestion
                    div.col.currentRound
                    
                div.questionMain

    div.container.messageContainer.collapse
        h1.display-1 Welkom,
            h2 bij de #{quizTitle}.
            p De quiz is nog niet begonnen, maar dit kan elk moment gebeuren. 
            div.alert.alert-info Nog even geduld, we gaan zo beginnen. Deze melding verdwijnt vanzelf.                  

    //include question_templates.html
    include question_templates.pug
    
    script.
        var glob_data = JSON.parse('!{data}');

block scripts
    script(src='/javascripts/quiz_public.js')