extends layout

block header
    div.container
        div.headerTitle #{quizTitle}
        div.headerSubTitle

block content
    
    div.container-fluid
        div.row
            div.col-lg-6
                //include stream.pug
            div.col-lg-6
                div.subTitle
                div.row
                    div.col.currentQuestion
                    div.col.currentRound
                    
                div.questionMain

    div.modal.welcomeModal(tabindex='-1', data-backdrop="static")
        div.modal-dialog.modal-lg
            div.modal-content


                div.modal-body.text-center
                    h1.display-1 Welkom,
                    h2 bij de Houtense online Koningsdag pubquiz.
                    p De pubquiz is nog niet begonnen, maar dit kan elk moment gebeuren. 
                    div.alert.alert-info Nog even geduld, we gaan zo beginnen. Deze melding verdwijnt vanzelf.

    include question_templates.html
    
    script.
        var glob_data = JSON.parse('!{data}');

block scripts
    script(src='/javascripts/quiz_public.js')