extends layout
        
block content
    div#tsparticles

    div.scoreLogo.mt-5

    div.container
        div.videoTitle Scorebord
        div.scoreMain.video.top

    script#scoreBoard(type="text/x-handlebars-template")
        div.row.h4
            div.col.text-right Plaats
            div.col Team
            div.col Score
        // Top 3
        | {{#each scoreStage}}
        div.row.topRow(class="{{topStyle @index}}")
            div.col.text-right {{inc @index 0}}
            div.col {{{this.name}}}
            div.col {{round this.totalScore}}
        | {{/each}}

        // De rest
        ul.scoreOthers
            | {{#each scoreOthers}}
            li
                div.row.topRow
                    div.col-2.text-right
                        b {{inc @index 3}}
                    div.col-6 {{{this.name}}}
                    div.col-4 {{round this.totalScore}}
            | {{/each}}

    script#scoreViewBtn(type="text/x-handlebars-template")
        | {{#each this}}
        button.btn.btn-primary.scoreView.mx-1(data-view="round_{{@index}}") Ronde {{inc @index}}
        | {{/each}}

block scripts
    script(src='/scripts/tsparticles/tsparticles.min.js')
    script(src='/scripts/jquery-particles/jquery.particles.min.js')
    script(src='/javascripts/score_public.js')
    
    script.
        document.title = "Quizunit Topscore video"
        $("body").addClass("videobody");
        setInterval(function(){
            loadScore("top");
        }, 5000)
        // Load score
        loadScore("top");