extends layout

block header
    div.container
        div.headerTitle Score
    
    include admin_menu.pug
        
block content
    div.container
        div.toolBar.form-inline.my-3

            div.input-group.btnAutoRefresh
                div.input-group-prepend
                    span.input-group-text Auto Refresh
                div.input-group-append
                    button.btn.btn-success.editUser
                        i.mdi.mdi-power-on
            div.mx-3 Hover over a score to view the given answer
    div.container-fluid.my-3
        div.scoreMain
        

    script#scoreBoard(type="text/x-handlebars-template")
        //Teams
        div.row.teamNames
            div.col.hidefirst
            | {{#each this.teams}}
            div.col {{this.name}}
            | {{/each}}
        div.row.teamNamesConnector
            div.col.hidefirst
            | {{#each this.teams}}
            div.col *
            | {{/each}}
        div.row.teamTotalScore
            div.col.hidefirst
            | {{#each this.teams}}
            div.col {{round this.totalScore}}
            | {{/each}}
            
        // Rounds
        | {{#each this.answers}}
        div.rondeMain
            div.scoreRound Round {{inc @index 0}}
            // Questions
            | {{#each this}}
            div.questionMain.scoreRowContainer 
                div.row.scoreRow
                    div.col.scoreQuestion {{inc @index 0}}
                    // Teams
                    | {{#each this}}
                    div.col.scoreNumber(data-toggle="tooltip", data-html="true", data-content="{{formatAnswer this.answer this.type}}") {{showScore this.score}}
                    | {{/each}}
            | {{/each}}

            // Round total score
            div.row.scoreRow
                div.col.scoreQuestion Total
                | {{#each ../this.teams}}
                div.col.scoreNumber 
                    b {{getRoundScore this.roundScore @../index}}
                | {{/each}}
        | {{/each}}

        // Bottom total score
        div.row.teamTotalScore.totalScoreBottom
            div.col.h5
            | {{#each this.teams}}
            div.col {{round this.totalScore}}
            | {{/each}}


block scripts
    script(src='/javascripts/score_public.js')
    
    script.
        // Load score
        loadScore("overview");
        